# Set default behaviors to automatically normalize line endings.
# ===========================================================================
# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.

# This will check in as LF, but checkout matching the OS.
# This will handle all files NOT explicitly defined below.
* text=auto

# Force CRLF line-endings.
*.bat  text eol=crlf
*.cmd  text eol=crlf
