# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

**/CodeSnapshot.txt
**/.ground_zero
**/notes*.md
**/todo*.md

**/publish


# System files
**/.DS_Store
**/[Tt]humbs.db
**/[Dd]esktop.ini

# Visual Studio
**/.vs/
**/[Bb]in/
**/[Oo]bj/
**/*.suo
**/*.user

# Test tools
**/coverage/


# Logs
**/logs/
**/*.log
